#profile-box{
    margin: 30px 30px 30px 30px;
    border: thin;
    border-color: black;
}
 
#tweet-input{
    margin-top: 35px;
    max-width: 600px;
}

#user-img{
    max-width: 300px;
    max-height: 300px;
    border-radius: 50px;
}
.padding-top {
    padding-top: 30px;
}
.image-size {
    width: 80px;
    height: 20px;
}
.img-in-list{
    max-height: 100px;
    max-width: 100px;
    border-radius: 10px;
   
}

#tweet-list{
    margin: 30px 200px 20px 0;
    max-width: 600px;
    border-radius: 9px;
    padding-left: 20px;
}
.user-info{
    margin: 20px 5px 5px 5px;
    
}
.box {
    border: 1px solid #0E0D0D;
    padding: 5px;
}

.tweet{
    max-width: 600px;
    word-wrap: break-word;
}

.form-control{
    border-color: #eee;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.form-control:focus {
    border: 1px solid #3cf;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
}